* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

header {
  height: 50px;
  background-color: orange;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.step-box:last-child {
  margin-right: 0;
}

.step-img1 {
  height: 150px;
  background-image: url(https://raw.githubusercontent.com/k7901/test1/0b77ef82dcde2566cf940d289d4ed3ed9faac08b/img/flow01.png);
  background-position: top;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(https://raw.githubusercontent.com/k7901/test1/0b77ef82dcde2566cf940d289d4ed3ed9faac08b/img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(https://raw.githubusercontent.com/k7901/test1/0b77ef82dcde2566cf940d289d4ed3ed9faac08b/img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {



  main {
    width: 100%;
    display: block;
  }

.step-box {
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  position: block;
}

}